@(contacts: List[models.Contact], contact: Form[models.Contact])(implicit request: RequestHeader, messages: Messages)

@layout {

    <h2>@messages("contact.new")</h2>

    <div class="container">
    @helper.form(action = routes.Contacts.create, 'class -> "form-inline") {
        <div class="form-group">
            @helper.CSRF.formField
            @helper.inputText(contact("name"), '_label -> messages("contact.fields.name"), 'class -> "form-control", 'placeholder -> messages("contact.fields.name.placeholder"))
            @helper.inputText(contact("age"), '_label -> messages("contact.fields.age"), 'class -> "form-control", 'placeholder -> messages("contact.fields.age.placeholder"))
            @helper.inputText(contact("emailAddress"), '_label -> messages("contact.fields.email"), 'class -> "form-control", 'placeholder -> messages("contact.fields.email.placeholder"))

            <input type="submit" value="@messages("contact.new")" class="col-sm-offset-5 btn btn-primary"/>
        </div>
    }
    </div>

    <div class="container">
        <table class="table-striped">
            <thead>
                <tr>
                    <th class="col-md-3">@messages("contact.fields.name")</th>
                    <th class="col-md-1">@messages("contact.fields.age")</th>
                    <th class="col-md-3">@messages("contact.fields.email")</th>
                    <th class="col-md-2"></th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
            <tbody>
            @contacts.map { contact =>
                <tr>
                    <td>@contact.name</td>
                    <td>@contact.age</td>
                    <td>@contact.emailAddress</td>
                    <td>
                        <a href='@routes.Contacts.edit(contact.id)'>@messages("contact.edit")</a>
                    </td>
                    <td>
                    @helper.form(action = routes.Contacts.delete(contact.id)) {
                        @helper.CSRF.formField
                        <input type="submit" value="@messages("contact.delete")" class="btn btn-default"/>
                    }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}