@(contacts: List[models.Contact], contact: Form[models.Contact])(implicit messages: Messages)

@layout {

    <h2>New Contact</h2>

    <div class="container">
        @helper.form(action = routes.Contacts.create, 'class -> "form-inline") {
            <div class="form-group">
                @helper.inputText(contact("name"), '_label -> "Name", 'class -> "form-control", 'placeholder -> "Please write name ...")
                @helper.inputText(contact("age"), '_label -> "Age", 'class -> "form-control", 'placeholder -> "Please write age ...")
                @helper.inputText(contact("emailAddress"), '_label -> "Email address", 'class -> "form-control", 'placeholder -> "Please write e-mail ...")

                <input type="submit" value="New Contact" class="col-sm-offset-5 btn btn-primary"/>
            </div>
        }
    </div>

    <div class="container">
        <table class="table-striped">
            <thead>
                <tr>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-1">Age</th>
                    <th class="col-md-3">Email Address</th>
                    <th class="col-md-2"></th>
                    <th class="col-md-2"></th>
                </tr>
            </thead>
            <tbody>
            @contacts.map { contact =>
            <tr>
                <td>@contact.name</td>
                <td>@contact.age</td>
                <td>@contact.emailAddress</td>
                <td>
                    <a href='@routes.Contacts.edit(contact.id)'>Edit</a>
                </td>
                <td>
                    @helper.form(action = routes.Contacts.delete(contact.id)) {
                        <input type="submit" value="Delete" class="btn btn-default"/>
                    }
                </td>
            </tr>
            }
            </tbody>
        </table>
    </div>
}